#game {
  position: relative;

  .game-row {
    display: flex;
    flex-direction: row;

    > div {
      &:nth-child(1) {
        flex: 1;
      }

      &:nth-child(2) {
        flex: 2;
      }
    }
  }
}
