.tile-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;

  &.large {
    align-items: center;
    justify-content: center;
  }

  &.large .tile-selector__tile {
    height: 60px;
    width: 60px;
    margin: 10px;
    font-size: 24px;
  }

  &__tile {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
