@import '../../assets/styles/colors';

.word-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;

  &__tile {
    color: $black;
    border: 1px solid $black;
    padding: 5px;
    font-size: 24px;
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
  }
}
