@import './colors';

%reset-Button {
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button {
  @extend %reset-Button;
  &.fixed {
    display: inline-block;
    width: 100px;
    margin: 40px 5px;
  }
  height: 30px;
  text-align: center;
  background-color: $white;
  color: $black;
  border-radius: 3px;

  box-shadow: 0px 0px 5px -1px $light-gray;
  cursor: pointer;

  &:hover {
    background-color: darken($white, 10%);
  }

  &:active {
    background-color: darken($white, 20%);
  }

  &.primary {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: lighten($black, 10%);
    }

    &:active {
      background-color: lighten($black, 20%);
    }
  }

  &:disabled {
    color: $very-light-gray;
    cursor: not-allowed;
  }
}
