@import './colors';

body {
  font-size: 16px;
}

header {
  height: 60px;
  background-color: $black;
  color: $white;

  .header-inner {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  #logo {
    height: 60px;
  }
}

main {
  background-color: $gray;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
}

.box-container {
  border-radius: 20px;
  width: 645px;
  color: $black;
  background-color: $white;
  margin: auto;
  padding: 2em;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
