@import './colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  color: $black;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
